.landingpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(63, 44, 96);
    border-bottom: 1px solid #a54b4b;
    flex: 1;
    width: 100%;
}

a { 
    text-decoration: none; 
    color: rgb(182, 179, 200);
    cursor: pointer;
}

a:hover {
    color: rgb(99, 19, 43);
}
/* 
body {
    
    overflow: hidden;
  } */
  
  .wave,
  .wave::before,
  .wave::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250vw;
    height: 250vw;
    margin-left: -125vw;
    transform-origin: 50% 50%;
    background-color: transparent;
    border-radius: 38% 42%;
    box-shadow: inset 0 0 10vw rgba(47, 146, 212, 0.494);
    animation: spin 16s infinite linear;
    mix-blend-mode: multiply;
  }
  
  .wave::before {
    width: 105%;
    height: 95%;
    margin-top: -125vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(84, 26, 128, 0.8);
    animation: spin 13s infinite linear;
  }
  
  .wave::after {
    width: 102%;
    height: 98%;
    margin-top: -125vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
    animation: spin 10s infinite linear;
  }
  
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }




/* navs */

.top {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.foot {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}




/* Perfil */

.tim {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 20%;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 27px;
}

.image {
    display: inline-block;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

.bru {
    border-radius: 300px;
    padding: 70px;
    height: 249px;
}




/* About Me */

.about {
    background-color: rgb(63, 44, 96);
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 14px;
    width: 50%;
    /* border: 1px solid #000; */
    border-radius: 27px;
}




/* Skills */

.skills {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills1 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 20%;
    margin: 10px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-radius: 27px;
}

.skills2 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 20%;
    margin: 10px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-radius: 27px;
}




/* Projects */

.boxes {
    text-align: center;
}

.project {
    border-radius: 50px;
    padding: 20px;
    height: 250px;
    width: 85%;
}

.box {
    background-color: #333;
    color: #fff;
    display: inline-block;
    /* align-items: center; */
    width: 20%;
    margin: 5px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-radius: 27px;
}

.box2 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 40%;
    margin: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 27px;
}
.box3 {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 27px;
}



/* Contact */

.contact {
    background-color: rgb(63, 44, 96);
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-radius: 27px;
}

.email {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 27px;
}
.email { 
    text-decoration: none; 
    color: rgb(182, 179, 200);
    cursor: pointer;
}

.email:hover {
    color: rgb(99, 19, 43);
}

.lin {
    border-radius: 0px;
    padding: 40px;
    height: 100px;
}




/* Secciones */

.title {
    font-size: x-large;
    font-weight: 7000;
    color: aqua;
    padding-bottom: 30px;
    padding-top: 90px;
}

.name {
    font-size: xx-large;
    font-weight: 7000;
    color: rgb(255, 255, 255);
}